@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "MuseoModerno", sans-serif;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #0f172a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect on the thumb 
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover 
} */
